input {
  height: 40px;
  width: 70%;
  margin-top: 4px;
  border-radius: 7px;
}
.styleLabel {
  width: 90%;
  margin: 2%;
}

.primary {
  margin-left: 2%;
  margin-bottom: 3%;
  margin-top: 3%;
  border-radius: 8px;
  background: rgba(91, 125, 163, 0.089);
}
