#input-style{
    width:90%;
    margin-left: 20%;
    margin-right: 20%;
      
 }



#btn-style{
    
    width:54%;
    margin-left:24%;
    margin-right:2%;
    
    
   
}

.navbarCustom {
    border-radius: 18px;
    width: 63.5%;
    margin-left: 18%;
    margin-right: 18%;
    background: #206bf53b;
}