.header {
  width: 100%;
  height: auto;
  background: rgba(239, 241, 241, 0.979);
}

.container {
  width: 100%;
  margin: 0 auto;
}
#containerFlex {
  display: flex;
  justify-content: space-between;
}
#input-style {
  width: 90%;
  margin-left: 20%;
  margin-right: 20%;
}

#btn-style {
  width: 54%;
  margin-left: 24%;
  margin-right: 2%;
}

.navbarCustom {
  border-radius: 18px;
  width: 63.5%;
  margin-left: 18%;
  margin-right: 18%;
  background: #206bf53b;
}
#contPresentation {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  padding-bottom: 20%;
  background: rgba(45, 163, 157, 0.37);
  border-radius: 20px;
}
